<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="log" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="R::CHIPLOG:tigowsTest.log" />
		<param name="MaxFileSize" value="2MB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm} [%-5p] [%C{1}] - %m%n" />
		</layout>
	</appender>
	<appender name="err" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="R::CHIPLOG:tigows.err" />
		<param name="MaxFileSize" value="2MB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MMM-yyyy HH:mm} [%-5p] [%C{1}] - %m%n" />
		</layout>
	</appender>

	<logger name="com.lds.controladores">
		<level value="info" />
		<appender-ref ref="log" />
	</logger>
	<logger name="co.com.tigo">
		<level value="info" />
		<appender-ref ref="log" />
	</logger>
	<root>
		<priority value="error" />
		<appender-ref ref="err" />
	</root>
</log4j:configuration>